.markdown-body ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: disc;
}

.markdown-body ul li {
  margin-left: 2em;
  text-align: -webkit-match-parent;
}

.markdown-body ol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.markdown-body ol li {
  margin-left: 2em;
  display: flex;
  align-items: center;
  text-align: -webkit-match-parent;
}

.markdown-body p {
  font-size: 14px;
  font-weight: 400;
  white-space: pre-wrap;
}